/* Handle basic element styling */
/* -------------------------------------------------------------------------------------------- */
/* --* {} --*/
    

body {
    display: grid;
    gap: 20px;
    /*min-height: 100vh;
    margin: 0 auto;
    padding: 20px;
    font: .9em/1.2 Arial, Helvetica, sans-serif;*/
  }
  header {
    grid-column: 1 / 13;
    grid-row: 1;
    position: sticky;
    top: 0;
    margin-top: 0;
    background: white;
    padding: 10px;
  }
  main {
    grid-column: 1 / 13;
    grid-row: 2;
  }
  aside {
    grid-column: 1 / 13;
    grid-row: 3;
  }
  footer {
    grid-column: 1 / 13;
    grid-row: 4;
  }

  @media (min-width: 40em) {
    /* Increase the global font size on larger screens or windows
       for better readability */

      header {
        grid-column: 1 / 13;
        grid-row: 1;
      }
      main {
        grid-column: 4 / 13;
        grid-row: 2;
      }
      aside {
        grid-column: 1 / 4;
        grid-row: 2;
      }
      footer {
        grid-column: 1 / 13;
        grid-row: 3;
      }
  }
  
